#movies img,
#movie img {
    width:100%;
}
.brand-text {
    font-size:2rem;
}
#react-logo {
    color:deepskyblue;
}
#imdb logo {
    color:gold;
}
@media (min-width:960px) {
    #movies .col-md-3 .well {
    }
    #movies .col-md-3 {
    }
}

