#movies img,
#movie img {
    width:100%;
}
#react-logo {
    color:deepskyblue;
}
#imdb-logo {
    color:gold;
}
@media (min-width:960px) {
    #movies .col-md-3 .well {
    }
    #movies .col-md-3 {
    }
}

